pandas
numpy
seaborn
scikit-learn
dill
xgboost
flask
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
faiss-cpu
sentence-transformers
  # -e .